{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Task Details</h1>

<h2>{{ task.title }}</h2>

<hr>
<p>{{ task.description }}</p>

<hr>
<p>{{ task.start }}</p>

<p>Status: {{ task.status }}</p>

<a class="btn btn-primary" href="{% url 'index' %}">Назад</a>

<hr>
<h3>Коментарі</h3>

{% if  request.user.is_authenticated %}
    <form id="comment-form" method="POST" action="{% url 'task-comment' task.id %}">
        {% csrf_token %}
        <input type="text" id="comment-text" name="text" placeholder="Введіть коментарий">
        <button class="btn btn-primary" type="submit">Додати коментарий</button>
    </form>
{% else %}
    <p>Треба авторизуватись, щоб створити коментарі</p>
    <a href="{% url 'login' %}">Авторизуватись</a>

{% endif %}

<ul id="comment-list">
    {% for comment in task.comments.all %}
      <li>
        <strong>{{ comment.user.username }}</strong>: {{comment.text}} ({{ comment.created_at }})

        <br>
        {% if request.user == comment.user %}
        <button class="edit-btn btn btn-primary" data-task-id="{{ task.id }}" data-comment-id="{{ comment.id }}">
            Edit
        </button>
        <button class="delete-btn btn btn-danger" data-task-id="{{ task.id }}" data-comment-id="{{ comment.id }}">
            Delete
        </button>
        {% endif %}


        <button class="like-btn" data-comment-id="{{ comment.id }}" data-task-id="{{ task.id }}">👍<span id="like-count-{{ comment.id }}">{{ comment.likes }}</span></button>
        <button class="dislike-btn" data-comment-id="{{ comment.id }}" data-task-id="{{ task.id }}">👎<span id="dislike-count-{{ comment.id }}" >{{ comment.dislikes }}</span></button>
    </li>
    {% endfor %}
</ul>

{% endblock %}